@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// MEDIA QUERY MANAGER
/*
0 - 600px:    Phone
600 - 900px: Tablet Portrait
900px - 1200px: tablet lanscape
1200 - 1800px: Normal styles
1800px +: Big desktop

$breakpoint arguement choices
- phone
-medium
-large
-extra-large


Media Query order
Base + Typography > general layout + grid > page layout > components
*/

@mixin respond($breakpoint) {
  @if $breakpoint == tiny {
    @media only screen and (max-width: 30em) {
      //360px not divided by 16 like the others
      @content;
    }
  }

  @if $breakpoint == small {
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }

  @if $breakpoint == medium-small {
    @media only screen and (max-width: 50em) {
      //800px / 16
      @content;
    }
  }
  @if $breakpoint == medium {
    @media only screen and (max-width: 62.5em) {
      //1000px / 16
      @content;
    }
  }

  @if $breakpoint == medium-large {
    @media only screen and (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $breakpoint == large {
    @media only screen and (max-width: 87.5em) {
      //1400px
      @content;
    }
  }

  @if $breakpoint == extra-large {
    @media only screen and (min-width: 100em) {
      //1600px
      @content;
    }
  }
}
