*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px

  @include respond(medium) {
    font-size: 50%; //1 rem = 8px  8/16 = 50%
  }
}

body {
  box-sizing: border-box;
  background-color: $color-secondary;
  color: $color-black;
}

#root {
  width: 100%;
}

button {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  font: inherit;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
