@import "../../Style/main.scss";

.intro {
  margin-top: 12rem;
  margin-bottom: 22rem;

  @include respond(medium-small) {
    margin-top: 6rem;
  }

  @include respond(small) {
    margin-top: 4rem;
    margin-bottom: 12rem;
  }
  &__text-wrapper {
    grid-column: 3 / 8;

    @include respond(medium-large) {
      grid-column: 2 / 8;
    }

    @include respond(medium-large) {
      grid-column: 3 / 9;
    }
  }

  &__text {
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.4;

    @include respond(medium-small) {
      margin-bottom: 6rem;
    }
    @include respond(small) {
      margin-top: 3rem;
    }
  }

  &__cv-button-container {
    grid-row: 2 / 3;
    grid-column: 6 / 10;
    @include center;

    @include respond(medium) {
      grid-column: 6 / 9;
    }
    @include respond(medium-small) {
      grid-column: 7 / 11;
    }
    @include respond(small) {
      grid-column: 4 / 10;
    }
  }
  &__email-button-container {
    grid-column: 3 / 6;
    grid-row: 2 / 3;
    @include center;

    @include respond(medium) {
      grid-column: 3 / 6;
    }
    @include respond(medium-small) {
      grid-column: 2 / 7;
    }
    @include respond(small) {
      grid-row: 3 / 4;
      grid-column: 2 / 9;
    }
  }
}

.cv-button {
  cursor: none;
  background-color: $color-black;
  text-decoration: none;
  width: 25rem;
  height: 25rem;
  border-radius: 100rem;
  outline: none;
  border: none;
  transform: rotate(20deg);
  transition: all 0.4s ease-out;
  @include center;

  @include respond(medium-small) {
    margin-right: 10rem;
  }

  @include respond(small) {
    margin-right: 0rem;
  }

  &--1 {
    margin-bottom: 15rem;
     @include respond(small) {
      margin-top: 7rem;
    }
  }

  &--2 {
    transform: rotate(-20deg);
    width: 30rem;
    height: 30rem;
    margin-top: 20rem;

     @include respond(small) {
      margin-top: 0rem;
    }
  }

  &:hover,
  &:focus {
    transform: rotate(0deg);
    background-color: $color-primary;
  }

  &__content {
    @include center;
    flex-direction: column;
  }

  &__text {
    margin-top: 5rem;
    width: 20rem;
    color: $color-secondary;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    line-height: 1.1;

    &--small {
      margin-top: 4rem;
    }
  }
}
