@import "../../Style/main.scss";
.cursor {
  width: 35px;
  height: 35px;
  border: 1.5px solid rgba($color-black, 0.6);
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;

  transition: 150ms ease;
  // transition: all 0.3s ease;

  transition-property: opacity, width, height;

  &--hidden {
    opacity: 0;
  }

  &--large {
    width: 60px;
    height: 60px;
    border: 3px solid rgba($color-black, 0.6);
  }

  &--light {
    border: 1.5px solid rgba($color-secondary, 0.6);
  }
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 100rem;
  background-color: rgba($color-black, 0.6);
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  transition: all 150ms ease;
  transition-property: opacity;

  &--hidden {
    opacity: 0;
  }

  &--light {
    background-color: rgba($color-secondary, 0.6);
  }
}
