@import "../../Style/main.scss";
.cursor {
  width: 3.5rem;
  height: 3.5rem;
  border: 1.5px solid rgba($color-black, 0.6);
  border-radius: 100%;
  position: fixed;
  // transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;

  transition: 150ms ease;
  // transition: all 0.3s ease;
  
  transition-property: opacity, width, height;

  &--hidden {
    border: 3px solid rgba($color-black, 0.6);
    opacity: 0;
  }

  &--large {
    width: 6rem;
    height: 6rem;
  }
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 100rem;
  background-color: rgba($color-black, 0.6);
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
  transition: all 150ms ease;
  transition-property: opacity;

  &--hidden {
    opacity: 0;
  }
}
